.menu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 90%
  padding: 2%

  li {
    margin: 0.5em;
    float: left;
  }

  li.filter {
    float: none;
    width: auto;

    input {
      width: 100%;
      padding: 0.5em;
      line-height: 1.5em;
      display: block;
      margin: 0;
    }
  }

  a {
    padding: .6em 1.6em;
    display: block;
    background: #0076D7;
    color: #fff;
    font-family: jubilat;
    border-radius: 2px;
    line-height: 20px;
    width: 100%;
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
    text-shadow: 1px 0px 1px rgba(56, 56, 56, 0.38);

    .search-match {
      text-decoration: underline;
    }

    &:hover {
      background: #004D8B;
      color: #fff;
    }
  }

  &::after {
    clear: both;
    content: '';
    width: 0; height: 0;
    display: block;
  }
}

@media(max-width: 600px) {
  .menu {
    margin: 0
    width: 100%
  }
}

@media(max-width: 400px) {
  li {
    float: none
    width: 95%
    display: block
    text-align: center
  }
}
