.menu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 90%
  background-color: #EEF3F7
  border-radius: 5px
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2)
  padding: 2%

  li {
    margin: 0.5em;
    float: left;
  }

  li.filter {
    float: none;
    width: auto;

    input {
      width: 100%;
      padding: 0.5em;
      line-height: 1.5em;
      display: block;
      margin: 0;
    }
  }

  a {
    padding: .5em 1em;
    display: block;
    background: #0076D7;
    color: #fff;
    font-family: jubilat;
    border: 1px solid #ccc;
    border-radius: 5px
    width: 100%;
    strong { color: #EB514F }
  }

  &::after {
    clear: both;
    content: '';
    width: 0; height: 0;
    display: block;
  }
}

@media(max-width: 600px) {
  .menu {
    margin: 0
    width: 100%
  }
}

@media(max-width: 400px) {
  li {
    float: none
    width: 95%
    display: block
    text-align: center
  }
}
