.menu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 90%;

  li {
    margin: 0.5em;
    float: left;
  }

  a {
    padding: .5em 1em;
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    width: 100%;
  }

  &::after {
    clear: both;
    content: '';
    width: 0; height: 0;
    display: block;
  }
}
