*
  box-sizing border-box

html
  font-family 'Helvetica Neue', sans-serif

body
  font-weight 300
  overflow-y scroll
  padding 2em 0
  background-color #f4f4f4

a
  color rgba(195, 49, 49, 1)

h1, h2, h3, h4
  font-weight 500
  color rgba(10, 10, 10, 1)

.container
  max-width 750px
  margin auto
  background-color #fff
  padding 2em
