

*
  box-sizing border-box

html
  font-family 'Helvetica Neue', sans-serif

body
  margin: 0
  font-weight 300
  overflow-y scroll
  background-color #f4f4f4

a
  color rgba(195, 49, 49, 1)

h1, h2, h3, h4
  margin: 0
  font-weight 500
  color rgba(10, 10, 10, 1)


.logo
  float: left
  background-size: 135px 57px
  color:rgba(#fff, .6)
  background-image: url('./images/logo.png')
  background-repeat: no-repeat
  background-size: 135px 57px
  display: block
  width: 135px;
  height: 57px;
  margin-right: 1em;

.a11y-only {
  text-indent: -9999px;
}

header {
  margin-bottom: 1em;

  ::after {
    content: '';
    display: block;
    clear: both;
  }

  h2 {
    padding-top: 0.5em;
    a { text-decoration: none; color: #000000; }
  }
}

.content-area {
  margin: 0 0.5em;
  position: relative;
}

footer
  text-align: center

  .address
    margin: 0.5rem auto
    line-height: 1.5

  .site-title
    font-family: freight-sans-pro
    font-weight: 500
    text-transform: uppercase
    border: 1px solid $text
    font-size: 1rem
    padding: 0.6rem 0
    margin: 2rem auto 0

  .copy a
    text-decoration: none
    margin-left: 5px

  span.copyright
    margin-right: 5px
    color: $text


