@font-face
  font-family: freight
  font-style: normal
  src url(./fonts/FreightSans-Book  .ttf)

@font-face
  font-family: jubilat
  font-style: normal
  src url(./fonts/JubilatMedium-Roman.otf)

*
  box-sizing border-box

body
  margin: 0
  font-weight 300
  overflow-y scroll
  background-color #fff
  font-family: freight

.container
  margin: 0 auto

  a
    text-decoration: none
    color: #0076D7

    &:hover
      color: #74C1FF

h1, h2, h3, h4, h5
  font-weight: 500
  font-family: jubilat
  margin: 1rem

form
  background-color: aliceblue;
  font-weght: 500
  border-radius: 5px
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2)
  margin: 2rem
  padding: 2%

.location-form input
    width: 66%;
    display: block;
    margin-top: 1rem;
    height: 40px;

  p
    font-size: 18px

  input
    margin-left: 1em
    width: 3rem
    height: 1rem

  select
    margin-left: 1em
    max-width: 300px

  textarea
    margin-left: 1em
    width: 66%
    line-height: .75
    border: none

label, textarea, input, select
  vertical-align: baseline

input[type='text'],input[type='number'],input[type='search']
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  border: 1px solid #eee
  height: 2em

button
  padding: .6em 1.6em;
  display: block;
  background: #0076D7;
  color: #fff;
  font-family: jubilat;
  border-radius: 2px;
  text-align: center;

  &:hover {
    background: #004D8B;
    color: #fff;
  }

  &::after {
    clear: both;
    content: '';
    width: 0; height: 0;
    display: block;
  }

.logo
  float: left
  background-size: 135px 57px
  color:rgba(#fff, .6)
  background-image: url('./images/logo.png')
  background-repeat: no-repeat
  background-size: 135px 57px
  display: block
  width: 135px;
  height: 57px;
  margin: 0.5em;
  margin-right: 1em;

.a11y-only {
  text-indent: -9999px;
}

.content-area {
  margin: 0 0.5em;
  position: relative;

  h1 {
    margin: 0.5em;
  }
}

header
  position: relative
  background-color: #fff
  border-bottom: 1px solid #eeeeee
  background-image: none
  z-index: 0
  font-family: freight

  h1
    padding: 0 1em
    box-sizing: border-box
    margin-bottom: 25px

  ::after {
    content: '';
    display: block;
    clear: both;
  }

  h2 {
    padding-top: 0.5em;
    a { text-decoration: none; color: #000000; }
  }

footer
  text-align: center
  letter-spacing: .1em
  text-transform: uppercase
  font-family: freight
  background: aliceblue;
  padding: 3%;
  margin-top: 10%;
  border-top: 1px solid #ddd;

  .address
    clear: both
    margin: 1rem auto
    line-height: 1.5
    font-weight: 300
    font-size: .9rem
    padding 1rem 0

  .site-title
    font-weight: 500
    border: 1px solid #000
    max-width: 300px
    font-size: 1rem
    margin: 0 auto
    padding 1%

  img
    margin: 1rem auto

  .copy a
    text-decoration: none
    margin-left: 5px
    color: #000

  span.copyright
    margin-right: 5px

@media(max-width: 600px) {
  form {
    margin: 0
    width: 100%
  }
}
