.location-form {
  .menu {
    li, a {
      width: auto;
      display: block;
    }
  }
  input {
    width: auto;
    display: block;
  }
}

label, p {
  display: block;
  margin: 1em;
}

.contact-info {
  width: 100%;
}

label {
  .sub {
    color: #555;
    font-size: 0.9em;
  }
  .reminder {
    color: #cc0000;
    font-size: 1.5em;

    strong {
      text-decoration: underline;
    }
  }
}

.invalid_input {
  border: 1px solid #f00 !important;
}

.error-message {
  display: block;
  color: red;
}

.caucus-disabled {
  margin: 10%;
  text-align: center;
}
