.location-form {
  .menu {
    li, a {
      width: auto;
      display: block;
    }
  }
  input {
    width: auto;
    display: block;
  }
}

label, p {
  display: block;
  margin: 1em;
}

.contact-info {
  width: 100%;
}

label {
  .sub {
    color: #aaa;
    font-size: 0.9em;
  }
}

.invalid_input {
  border: 1px solid #f00;
}
